.isinav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 42%;
  position: relative;
}

.icon {
  font-size: 29px;
}

input {
  position: absolute;
  right: -120px;
  height: 25px;
  padding: 2px;
}

.search {
  position: absolute;
  opacity: 0.5;
  right: -110px;
}

.notif {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: red;
  border-radius: 50%;
  right: 75px;
  top: 13px;
}
